<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>代码生成器</title>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="lib/elment.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="lib/axios.js"></script>
  <script src="js/api.js"></script>
  <script src="lib/vue.js"></script>
  <script src="lib/elment-ui.js"></script>
</head>
<body  style="overflow: hidden;">
<div id="app">
  <div class="common-layout">
    <el-container direction="vertaical">
      <el-header>
        <div>
          <el-menu
                  :default-active="activeIndex"
                  class="el-menu-demo"
                  mode="horizontal"
                  background-color="#545c64"
                  text-color="#fff"
                  active-text-color="#ffd04b"
                  @select="handleSelect"
          >
            <el-menu-item index="1">数据源</el-menu-item>
            <el-sub-menu index="2">
              <template #title>Workspace</template>
              <el-menu-item index="2-1">item one</el-menu-item>
              <el-menu-item index="2-2">item two</el-menu-item>
              <el-menu-item index="2-3">item three</el-menu-item>
              <el-sub-menu index="2-4">
                <template #title>item four</template>
                <el-menu-item index="2-4-1">item one</el-menu-item>
                <el-menu-item index="2-4-2">item two</el-menu-item>
                <el-menu-item index="2-4-3">item three</el-menu-item>
              </el-sub-menu>
            </el-sub-menu>
            <el-menu-item index="4">Orders</el-menu-item>
          </el-menu>
        </div>
      </el-header>
      <el-main >
        <iframe scrolling="yes" frameborder="0" width="100%"  id="iframeId"  src="source.html"></iframe>
      </el-main>
      <el-footer>页尾</el-footer>
    </el-container>
  </div>
</div>
<script src="js/index.js"></script>
</body>
<script>
  var ifm = document.getElementById("iframeId");
  ifm.height = document.documentElement.clientHeight - 120;
</script>
</html>
