<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>代码生成器</title>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="lib/elment.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="lib/axios.js"></script>
  <script src="js/api.js"></script>
  <script src="lib/vue.js"></script>
  <script src="lib/elment-ui.js"></script>

</head>
<body>
<div id="main">
  <el-table :data="list" >
    <el-table-column prop="connName" label="Date"></el-table-column>
    <el-table-column prop="connName" label="Name"></el-table-column>
  </el-table>
</div>
<script src="js/main.js"></script>
<style></style>
</body>
</html>
