<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>代码生成器</title>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="lib/elment.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="lib/axios.js"></script>
  <script src="js/api.js"></script>
  <script src="lib/vue.js"></script>
  <script src="lib/elment-ui.js"></script>
  <script src="js/utils.js"></script>
</head>
<body>
<div id="table" class="app-container">

  <el-row :gutter="20">
    <el-col :span="6">
      <el-input class="w-50 m-2" placeholder="Type something"/>
    </el-col>
    <el-col :span="6">
        <el-button type="primary" @click="search">搜索</el-button>
        <el-button type="success" @click="init()">导入</el-button>
        <el-popconfirm
                title="您确定要删除吗?"
                @confirm="deleteHandle()"
                confirm-button-text="确定"
                cancel-button-text="取消"
        >
          <template #reference>
            <el-button type="danger">删除</el-button>
          </template>
        </el-popconfirm>
    </el-col>
    <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
    <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
  </el-row>
  <el-divider></el-divider>
  <el-table
          :header-cell-style="{background:'#eef1f6',color:'#0f59a4'}"
          :data="list"
          stripe
          size="large"
          v-loading="listLoading"
          @selection-change="handleSelectionChange"
          class="el-table"
  >
    <el-table-column type="selection" width="55" ></el-table-column>
    <el-table-column align="center" prop="tableName" label="表名"></el-table-column>
    <el-table-column align="center" prop="tableComment" label="说明"></el-table-column>
    <el-table-column align="center" prop="engine" label="存储引擎"></el-table-column>
    <el-table-column align="center" prop="updateDate" label="修改时间"></el-table-column>
    <el-table-column align="center" label="操作">
      <template #default="scope">
        <el-button size="small" type="primary" @click="init(scope.row.id)">配置信息</el-button>
        <el-popconfirm
                title="您确定要删除吗?"
                @confirm="deleteHandle(scope.row.id)"
                confirm-button-text="确定"
                cancel-button-text="取消"
        >
          <template #reference>
            <el-button size="small" type="danger">删除</el-button>
          </template>
        </el-popconfirm>
      </template>
    </el-table-column>
  </el-table>

  <el-pagination
          class="el-pagination center"
          background
          v-show="total > 0"
          v-model:page="listQuery.page"
          v-model:limit="listQuery.limit"
          :page-sizes="[10, 20, 50, 100]"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
  >
  </el-pagination>

  <el-dialog
          v-model="importDialogVisible"
          title="导入"
          width="30%"
          @close="resetForm"
  >

    <el-form ref="form"
             label-position="right"
             label-width="100px"
             :model="dataForm"
             :rules="rules"
             abel-width="120px">
      <el-form-item label="数据源选择" prop="sourceId">
        <el-select v-model="dataForm.sourceId" class="m-2" placeholder="Select" size="large">
          <el-option
                  v-for="item in sourceList"
                  :key="item.id"
                  :label="item.connName"
                  :value="item.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="数据表选择" prop="tableName">
        <el-select v-model="dataForm.tableName" class="m-2" placeholder="Select" size="large">
          <el-option
                  v-for="item in tableList"
                  :key="item.tableName"
                  :label="item.tableComment ? item.tableComment : item.tableName"
                  :value="item.tableName"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button @click="importDialogVisible = false">关闭</el-button>
        <el-button v-loading.fullscreen.lock="fullscreenLoading" type="primary" @click="submitHandle"
        >提交</el-button
        >
      </el-form-item>
    </el-form>
  </el-dialog>

  <el-dialog
          v-model="updateDialogVisible"
          title="配置信息"
          @close="resetForm"
  >
    <el-form ref="form"
             label-position="right"
             label-width="80px"
             :model="dataForm"
             :rules="rules"
             abel-width="120px">
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item label="表名">
            <el-input v-model="dataForm.tableName" disabled placeholder="生成路径" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="类名">
            <el-input v-model="dataForm.className" placeholder="类名" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item label="模块名">
            <el-input v-model="dataForm.moduleName" placeholder="模块名" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="子模块名">
            <el-input v-model="dataForm.subModuleName" placeholder="子模块名" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item label="包名">
            <el-input v-model="dataForm.packageName" placeholder="包名" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="基类">
            <el-input v-model="dataForm.baseClassId" placeholder="基类" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="生成路径">
        <el-input v-model="dataForm.backendPath" placeholder="生成路径" />
      </el-form-item>
      <el-form-item>
        <el-button @click="updateDialogVisible = false">关闭</el-button>
        <el-button v-loading.fullscreen.lock="fullscreenLoading" type="primary" @click="submitHandle"
        >提交</el-button
        >
      </el-form-item>
    </el-form>
  </el-dialog>

</div>
<script src="js/table.js"></script>
</body>
</html>
