<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>代码生成器</title>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="lib/codemirror.css">
  <link rel="stylesheet" href="lib/elment.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="lib/mirror/theme/3024-day.css">
  <link rel="stylesheet" href="lib/mirror/theme/3024-night.css">
  <link rel="stylesheet" href="lib/mirror/theme/abbott.css">
  <link rel="stylesheet" href="lib/mirror/theme/abcdef.css">
  <link rel="stylesheet" href="lib/mirror/theme/ambiance.css">
  <link rel="stylesheet" href="lib/mirror/theme/ayu-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/ayu-mirage.css">
  <link rel="stylesheet" href="lib/mirror/theme/base16-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/bespin.css">
  <link rel="stylesheet" href="lib/mirror/theme/base16-light.css">
  <link rel="stylesheet" href="lib/mirror/theme/blackboard.css">
  <link rel="stylesheet" href="lib/mirror/theme/cobalt.css">
  <link rel="stylesheet" href="lib/mirror/theme/colorforth.css">
  <link rel="stylesheet" href="lib/mirror/theme/dracula.css">
  <link rel="stylesheet" href="lib/mirror/theme/duotone-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/duotone-light.css">
  <link rel="stylesheet" href="lib/mirror/theme/eclipse.css">
  <link rel="stylesheet" href="lib/mirror/theme/elegant.css">
  <link rel="stylesheet" href="lib/mirror/theme/erlang-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/gruvbox-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/hopscotch.css">
  <link rel="stylesheet" href="lib/mirror/theme/icecoder.css">
  <link rel="stylesheet" href="lib/mirror/theme/isotope.css">
  <link rel="stylesheet" href="lib/mirror/theme/juejin.css">
  <link rel="stylesheet" href="lib/mirror/theme/lesser-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/liquibyte.css">
  <link rel="stylesheet" href="lib/mirror/theme/lucario.css">
  <link rel="stylesheet" href="lib/mirror/theme/material.css">
  <link rel="stylesheet" href="lib/mirror/theme/material-darker.css">
  <link rel="stylesheet" href="lib/mirror/theme/material-palenight.css">
  <link rel="stylesheet" href="lib/mirror/theme/material-ocean.css">
  <link rel="stylesheet" href="lib/mirror/theme/mbo.css">
  <link rel="stylesheet" href="lib/mirror/theme/mdn-like.css">
  <link rel="stylesheet" href="lib/mirror/theme/midnight.css">
  <link rel="stylesheet" href="lib/mirror/theme/monokai.css">
  <link rel="stylesheet" href="lib/mirror/theme/moxer.css">
  <link rel="stylesheet" href="lib/mirror/theme/neat.css">
  <link rel="stylesheet" href="lib/mirror/theme/neo.css">
  <link rel="stylesheet" href="lib/mirror/theme/night.css">
  <link rel="stylesheet" href="lib/mirror/theme/nord.css">
  <link rel="stylesheet" href="lib/mirror/theme/oceanic-next.css">
  <link rel="stylesheet" href="lib/mirror/theme/panda-syntax.css">
  <link rel="stylesheet" href="lib/mirror/theme/paraiso-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/paraiso-light.css">
  <link rel="stylesheet" href="lib/mirror/theme/pastel-on-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/railscasts.css">
  <link rel="stylesheet" href="lib/mirror/theme/rubyblue.css">
  <link rel="stylesheet" href="lib/mirror/theme/seti.css">
  <link rel="stylesheet" href="lib/mirror/theme/shadowfox.css">
  <link rel="stylesheet" href="lib/mirror/theme/solarized.css">
  <link rel="stylesheet" href="lib/mirror/theme/the-matrix.css">
  <link rel="stylesheet" href="lib/mirror/theme/tomorrow-night-bright.css">
  <link rel="stylesheet" href="lib/mirror/theme/tomorrow-night-eighties.css">
  <link rel="stylesheet" href="lib/mirror/theme/ttcn.css">
  <link rel="stylesheet" href="lib/mirror/theme/twilight.css">
  <link rel="stylesheet" href="lib/mirror/theme/vibrant-ink.css">
  <link rel="stylesheet" href="lib/mirror/theme/xq-dark.css">
  <link rel="stylesheet" href="lib/mirror/theme/xq-light.css">
  <link rel="stylesheet" href="lib/mirror/theme/yeti.css">
  <link rel="stylesheet" href="lib/mirror/theme/idea.css">
  <link rel="stylesheet" href="lib/mirror/theme/darcula.css">
  <link rel="stylesheet" href="lib/mirror/theme/yonce.css">
  <link rel="stylesheet" href="lib/mirror/theme/zenburn.css">
  <script src="lib/codemirror.js"></script>
  <script src="lib/mirror/mode/clike.js"></script>
  <script src="lib/mirror/javascript.js"></script>
  <script src="lib/mirror/active-line.js"></script>
  <script src="lib/mirror/matchbrackets.js"></script>
  <script src="lib/axios.js"></script>
  <script src="lib/vue-codemirror.js"></script>
  <script src="js/api.js"></script>
  <script src="lib/vue.js"></script>
  <script src="lib/elment-ui.js"></script>
  <script src="js/utils.js"></script>
</head>
<body>
<div id="template" class="app-container">

  <el-row :gutter="20">
    <el-col :span="6">
      <el-input class="w-50 m-2" placeholder="Type something"/>
    </el-col>
    <el-col :span="6">
        <el-button type="primary" @click="search">搜索</el-button>
        <el-button type="success" @click="init()">新增</el-button>
        <el-popconfirm
                title="您确定要删除吗?"
                @confirm="deleteHandle()"
                confirm-button-text="确定"
                cancel-button-text="取消"
        >
          <template #reference>
            <el-button type="danger">删除</el-button>
          </template>
        </el-popconfirm>
    </el-col>
    <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
    <el-col :span="6"><div class="grid-content bg-purple"></div></el-col>
  </el-row>
  <el-divider></el-divider>
  <el-table
          :header-cell-style="{background:'#eef1f6',color:'#0f59a4'}"
          :data="list"
          stripe
          size="large"
          v-loading="listLoading"
          @selection-change="handleSelectionChange"
          class="el-table"
  >
    <el-table-column type="selection" width="55" ></el-table-column>
    <el-table-column align="center" prop="name" label="模板名"></el-table-column>
    <el-table-column align="center" prop="fileName" label="文件名"></el-table-column>
    <el-table-column align="center" prop="path" label="生成路径"></el-table-column>
    <el-table-column align="center" prop="status" label="状态"></el-table-column>
    <el-table-column align="center" prop="updateDate" label="修改时间"></el-table-column>
    <el-table-column align="center" label="操作">
      <template #default="scope">
        <el-button size="small" type="primary" @click="init(scope.row.id)">修改</el-button>
        <el-popconfirm
                title="您确定要删除吗?"
                @confirm="deleteHandle(scope.row.id)"
                confirm-button-text="确定"
                cancel-button-text="取消"
        >
          <template #reference>
            <el-button size="small" type="danger">删除</el-button>
          </template>
        </el-popconfirm>
      </template>
    </el-table-column>
  </el-table>

  <el-pagination
          class="el-pagination center"
          background
          v-show="total > 0"
          v-model:page="listQuery.page"
          v-model:limit="listQuery.limit"
          :page-sizes="[10, 20, 50, 100]"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
  >
  </el-pagination>

  <el-drawer
          v-model="drawerVisible"
          direction="ttb"
          size="100%"
          :with-header="false"
          @close="resetForm"
  >
    <el-page-header :content="isNotBlank(dataForm.id) ? '修改' : '新增'" @back="drawerVisible = false" ></el-page-header>
    <div style="margin-top: 20px;">
      <el-form ref="form"
               label-position="right"
               label-width="100px"
               :model="dataForm"
               :rules="rules"

      >
        <el-row :gutter="20">
          <el-col :span="10">
            <el-form-item label="模板名称" prop="name">
              <el-input clearable v-model="dataForm.name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="文件名称" prop="fileName">
              <el-input clearable v-model="dataForm.fileName"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :span="10">
            <el-form-item label="生成路径" prop="path">
              <el-input clearable v-model="dataForm.path"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="状态" prop="status">
              <el-radio-group v-model="dataForm.status">
                <el-radio :label="0">启用</el-radio>
                <el-radio :label="1">禁用</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item prop="content">
        </el-form-item>
      </el-form>
      <textarea name="editorArea" id="editorArea"></textarea>
    </div>
    <template #footer>
      <div style="flex: auto;margin-right: 5%;margin-top: 20px">
        <el-button size="large" @click="drawerVisible = false">关闭</el-button>
        <el-button size="large" type="primary" @click="submitHandle">提交</el-button>
      </div>
    </template>
  </el-drawer>

</div>
<script src="js/template.js"></script>
</body>
</html>
